body {
  font-size: 25px;
}

a:link,
a:visited {
  background-color: #ebebeb;
  color: black;
  border: 2px solid brown;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
