body {
  font-size: 25px;
}

a:link,
a:visited {
  font-size: 20px;	
  background-color: #ebebeb;
  color: black;
  border: 1px solid brown;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
